.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  gap: 20px;
}

.country-card {
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
